#modal-edit {
  border-top: 4px rgb(4, 158, 158) solid;
  border-radius: 8px;

  .modal-header {
    padding: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0;
    color: rgb(61, 61, 61);
    
  }

  .modal-content {
    padding-top: 0.3rem;
  }

  .modal-footer {
    display: flex;
    justify-content: flex-end;
    gap: 2rem;
    
    padding-right: 2rem;
  }
}