.table-container {
  margin-left: 5rem;
  margin-right: 5rem;

  .new-employee {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.button-td {
  width: 200px;

  .button-wrapper {
    display: flex;
    gap: 1rem;  
  }
}